* {
	font-family: sans-serif;
	font-size: 17px;
}


p + p + p {
	color: #fffc5f;
}

h1 {
	font-size: 50px;
}

h2 {
	text-transform: uppercase;
}

#languages li {
	background-color:#aed0a1;
}

li[value] {
	border-color: #a2b8d3;
	border-style: solid;
	border-width: 1px;
}

h4 + img + ul {
	list-style-type: none;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

section > p {
	color: black;
}

ul ~ p {
        text-align: center;
}

section > ul {
	letter-spacing: 15px ;
}